/* animation-block */
.animation-block
	margin-top: 88px

	&__title
		color: $text
		font-family: $default-font
		font-size: 24px
		line-height: 33px
		font-weight: 600
		max-width: 505px
		margin: 0

	&__bg
		text-align: center
		position: relative
		max-width: 1360px
		margin: auto
		top: -55px

	&__element
		position: absolute
	
	&__car-1
		opacity: 0
		bottom: 265px
		left: 180px
	
		&.active
			bottom: 25px
			left: 615px
			opacity: 1
			transition: all 3s ease

	&__car-2
		opacity: 0
		bottom: 370px
		left: 510px
		
		&.active
			bottom: 165px
			left: 870px
			opacity: 1
			transition: all 3s ease


	&__pin-1
		opacity: 0
		top: 0
		left: 280px

		&.active
			opacity: 1
			top: 230px
			transition: all 2s ease

	&__pin-2
		opacity: 0
		top: 0
		right: 250px

		&.active
			opacity: 1
			top: 180px
			transition: all 1.8s ease
