/* breadcrumbs */
.breadcrumbs
	margin-top: 67px

	&__list
		list-style: none
		padding: 0
		margin: 0

	&__item
		margin-right: 20px
		font-size: 13px
		font-weight: 400

		&:last-child
			margin-right: 0

	&__link
		color: $text-grey
		text-decoration: none

		&:hover
			text-decoration: underline
