@import "vars"
@import "libs"
@import 'fonts'

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text

@import "media"

.flex
	display: flex
	flex-direction: row
	flex-wrap: wrap

	&__align-right
		justify-content: flex-end

	&__align-center
		justify-content: center

	&__align-justify
		justify-content: space-between

	&__align-spaced
		justify-content: space-around

	&__align-top
		align-items: flex-start

	&__align-bottom
		align-items: flex-end

	&__align-middle
		align-items: center

	&__align-stretch
		align-items: stretch

.container-wrap
  width: 100%

.container
  max-width: 1140px
  margin: auto
  position: relative

.column
  padding: 0 15px


/* header */
.page-header
	padding-top: 25px
	background: #F6F8F7

.header__logo
	max-width: 80px

.header__beside
	color: $text-grey
	font-weight: 300
	font-size: 14px
	margin-top: 21px
	margin-left: 30px

.header__tel
	color: $text-grey
	font-weight: 300
	font-size: 14px
	margin-top: 12px
	margin-left: 56px

.tel__text
	display: inline-block

.tel__text--bold
	font-size: 20px
	color: $text
	font-weight: 600
	margin-left: 19px
	margin-top: 3px
	display: inline-block

.header__sms
	color: $text-grey
	font-weight: 300
	font-size: 14px
	margin-left: 61px
	margin-top: 20px

.sms__text--bold
	font-size: 15px
	color: $text
	font-weight: 600
	margin-left: 11px

.header__russia
	color: $text-grey
	font-weight: 300
	font-size: 14px
	margin-top: 21px
	margin-left: 63px

.russia__text--bold
	font-size: 15px
	color: $text
	font-weight: 600
	margin-left: 11px

.header__search
	width: 86px
	height: 14px
	margin-top: 23px
	background: url('../img/header/search-icon.svg') 100% no-repeat

.header__login-in
	margin-left: 38px
	margin-top: 18px
	padding-left: 25px
	color: $text-grey
	font-size: 14px
	background: url('../img/header/user-icon.svg') 0 25% no-repeat

.header__main-content
	padding-top: 60px

.main-content__block
	width: 920px

.header__menu
	padding: 0
	margin: 0
	list-style: none
	display: flex

.header__menu-item
	margin-right: 56px

	&--active
		position: relative

		&::before
			content: ''
			position: absolute
			background: #EB2E2E
			width: calc(100% + 40px)
			height: 2px
			left: -18px
			bottom: -16px

		&::after
			content: ''
			position: absolute
			width: 0
			height: 0
			border-left: 3px solid transparent
			border-right: 3px solid transparent
			border-top: 5px solid red
			left: 50%
			bottom: -70%

.header__menu-link
	color: $text
	font-size: 18px
	font-weight: 400

	&:hover
		color: $text
		text-decoration: none

.main-content__right
	margin-left: 74px
	margin-top: 2px
	position: relative

.right__contact
	position: absolute
	background: #EB2E2E
	width: 50px
	height: 80px
	right: -123px
	top: 9px

	&-phone
		display: block
		padding: 6px
		text-align: center
		height: 40px

	&-mail
		display: block
		padding: 3px
		text-align: center
		height: 40px

.right__menu
	padding: 0
	margin: 0
	list-style: none

	&-item
		margin-bottom: 10px

	&-link
		font-family: 'MuseoSansRegular', sans-serif
		color: $text-grey
		font-size: 15px

	&-more
		width: 20px
		height: 4px
		display: flex
		justify-content: space-between
		margin-top: 23px

	&-dot
		background: #E30613
		height: 4px
		width: 4px
		border-radius: 50%

.right__social
	margin-top: 40px
	width: 114px
	display: flex
	margin-left: 4px

	&-link
		margin-right: 16px

.content__block
	display: flex
	margin-top: 77px

	&-left
		width: 135px

.block-left__text
	color: $text
	font-size: 14px
	font-weight: 600

	&--red-bg
		background: #e30613
		color: #fff
		font-weight: 300
		padding-left: 2px
		width: 58px
		display: inline-block

.block-left__app
	margin-top: 49px
	width: 102px

	&-link
		margin-bottom: 15px
		display: block

		img
			max-width: 100%
			width: 100%
			display: block

.content__block-main
	margin-left: 55px

.content__form-input--wrapper
	display: flex

.content__form-input
	background: #FFFFFF
	border: 1px solid #C4C4C4
	box-sizing: border-box
	border-radius: 2px
	width: 350px
	height: 49px
	padding-left: 70px
	background: url('../img/header/to.svg') 15px 48% no-repeat #ffffff

	&::placeholder
		font-size: 13px
		color: #C4C4C4

.content__form-input:first-child
	margin-right: 30px
	padding-left: 90px
	background: url('../img/header/from.svg') 15px 52% no-repeat #ffffff

.content__form-arrows
	position: relative

	&::before
		content: ''
		position: absolute
		left: -22px
		top: 13px
		width: 14px
		height: 17px
		background: url('../img/header/arrows.svg') no-repeat

.content__block-examples
	margin-top: 7px

.examples__address
	font-size: 13px
	color: #363738
	margin-right: 26px
	border-bottom: 2px dotted

/* why-we */
.why-we
	margin: 95px 0 60px 0

	&__title
		font-family: $default-font
		font-weight: 600
		line-height: 33px
		max-width: 580px
		font-size: 24px
		margin: 0
	
	&__items
		margin-top: 50px

	&__item
		margin-right: 89px
		flex: 1
		min-width: 150px

		&:last-child
			margin-right: 0
	
	&__img
		text-align: center

	&__desc
		font-size: 14px
		line-height: 23px
		font-family: $default-font
		font-weight: 400
		color: $text
		margin-top: 25px

	&__about
		max-width: 1020px

	&__about--left
		color: $text
		font-size: 14px
		line-height: 23px
		font-family: $default-font
		font-weight: 600
		max-width: 365px

	&__about--right
		color: #363738
		font-size: 13px
		line-height: 23px
		font-family: $default-font
		font-weight: 400
		max-width: 545px


.animation-block
	margin-top: 70px

	&__title
		color: $text
		font-family: $default-font
		font-size: 24px
		line-height: 33px
		font-weight: 600
		max-width: 505px

	&__bg
		text-align: center
		position: relative
		max-width: 1360px
		margin: auto
		top: -65px

	&__element
		position: absolute
	
	&__car-1
		bottom: 265px
		left: 180px

	&__car-2
		bottom: 270px
		left: 685px

	&__pin-1
		top: 230px
		left: 280px

	&__pin-2
		top: 180px
		right: 250px

/* actions */

.actions
	margin: 100px 0

	&__item
		width: 350px

/* call-taxi */

.call-taxi
	padding: 75px 0
	background: #F6F8F7

	&__title
		font-family: $default-font
		font-weight: 600
		font-size: 24px
		line-height: 33px
		margin: 0

	&__items
		margin-top: 40px
		
	&__item
		margin-right: 40px
		flex: 1

		&:last-child
			margin-right: 0
	
	&__desc
		color: $text
		font-family: $default-font
		font-size: 14px
		line-height: 23px
		font-weight: 400
		margin-top: 25px

		& a 
			color: #EB2E2E

	