@import "normalize"
@import "vars"
@import "libs"
@import 'fonts'

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text

img
	display: block
	max-width: 100%

.mt5px
	margin-top: 5px

@import "media"

.flex
	display: flex
	flex-direction: row
	flex-wrap: wrap

	&__align-right
		justify-content: flex-end

	&__align-center
		justify-content: center

	&__align-justify
		justify-content: space-between

	&__align-spaced
		justify-content: space-around

	&__align-top
		align-items: flex-start

	&__align-bottom
		align-items: flex-end

	&__align-middle
		align-items: center

	&__align-stretch
		align-items: stretch

.container-wrap
	width: 100%

.container
	max-width: 1110px
	margin: auto
	position: relative

.column
	padding: 0 15px


/* header */

.header
	padding-top: 20px
	background: #F6F8F7

	&__logo img
		max-width: 80px

	&__slogan
		margin-left: 15px
		color: $text-grey
		font-size: 13px

	&__call
		margin-left: 50px

		&-text
			color: $text-grey
			font-size: 13px

			&--bold
				color: $text
				font-size: 18px
				font-weight: 600
				margin-left: 10px

	&__sms
		margin-left: 50px

		&-text
			color: $text-grey
			font-size: 13px

			&--bold
				color: $text
				font-size: 15px
				font-weight: 600
				margin-left: 10px

	&__operators
		margin-left: 50px

		&-number
			padding-left: 23px
			font-family: $default-font
			color: $text
			font-size: 15px
			font-weight: 700
			margin-right: 20px

			:last-child
				margin-right: 0

			&--megafon
				background: url('../img/footer/megafon.svg') left 50% no-repeat

			&--beeline
				background: url('../img/footer/beeline.svg') left 50% no-repeat

			&--tele2
				background: url('../img/footer/tele2.svg') left 50% no-repeat
				padding-left: 37px

			&--mts
				background: url('../img/footer/mts.svg') left 50% no-repeat

	&__search
		margin-left: 23px

	&__sign-in
		background: url('../img/header/user-icon.svg') left 50% no-repeat
		color: $text-grey
		font-size: 14px
		padding-left: 24px
		margin-left: 36px
		text-decoration: none

	&__sidebar
		position: absolute
		right: 0
		top: 112px
		width: 162px
		z-index: 1
		

		&-menu
			list-style: none
			padding: 0
			margin: 0

		&-link
			text-decoration: none
			color: $text-grey
			font-size: 14px
			line-height: 33px

			&:hover
				text-decoration: underline
		
		&-more
			width: 20px
			height: 20px
			margin-top: 15px
			cursor: pointer
			background: url('../img/header/union.svg') left center / 100% no-repeat

	&__social
		margin-top: 40px

		&-btn
			margin-right: 15px

			&:last-child
				margin-right: 0

	&__contacts
		position: absolute
		right: 0
		top: 130px
		background: $accent
		width: 50px
		height: 80px

		&-btn
			height: 50%
			cursor: pointer
			display: block
			width: 100%
			border: none
			padding: 0
			transition: all .3s ease

			&:hover
				background-color: darken($accent, 10%)
				transition: all .3s ease

			&--phone
				background: url('../img/header/phone.svg') center no-repeat

			&--mail
				background: url('../img/header/mail.svg') center no-repeat

/* calc */
.calc
	background: url('../img/header/header-bg.png') 47% 100% no-repeat #F6F8F7
	padding: 62px 0 100px 0

	&__menu
		list-style: none
		padding: 0 0 28px 0
		margin: 0

		&-item
			margin-right: 56px

			&:last-child
				margin-right: 0

			&--active
				position: relative

				&::before
					content: ''
					position: absolute
					background: $accent
					width: calc(100% + 40px)
					height: 2px
					left: -18px
					bottom: -16px

				&::after
					content: ''
					position: absolute
					width: 0
					height: 0
					border-left: 5px solid transparent
					border-right: 5px solid transparent
					border-top: 5px solid red
					left: calc(50% - 5px)
					bottom: -80%

		&-link
			text-decoration: none
			color: $text
			font-size: 18px
			line-height: 25px

	&--wrapper
		margin-top: 50px

	&__info
		width: 140px
		margin-right: 50px

		&-text
			font-size: 14px
			font-weight: 700
			line-height: 23px
			color: $text

			&--price
				color: $white
				background: $accent
				font-weight: 400
				line-height: 14px
				padding: 1px

		&-apps
			margin-top: 50px

		&-app
			max-width: 100px
			margin: 0 0 15px 0

			&:last-child
				margin: 0

	&__form

		&-input
			border: 1px solid #c4c4c4
			border-radius: 2px
			width: 350px
			height: 50px
			line-height: 50px
			box-sizing: border-box
			color: #363738
			font-size: 14px
			font-weight: 600
			

			&--from
				background: url('../img/header/from.svg') 16px 48% no-repeat $white
				padding-left: 90px

			&--to
				background: url('../img/header/to.svg') 16px 48% no-repeat $white
				padding-left: 75px

			&::placeholder
				color: #c4c4c4
				font-size: 13px
				font-weight: 400

		&-arrows
			background: url('../img/header/arrows.svg') center no-repeat
			width: 30px
			height: 50px

		&-examples
			margin-top: 10px

		&-example
			color: #363738
			font-size: 13px
			line-height: 20px
			font-weight: 400
			margin-right: 30px
			border-bottom: 0.13em dotted #363738
			cursor: pointer

			&:last-child
				margin-right: 0

		&-add
			margin: 20px 0 0 12px
			background: url('../img/header/add.svg') no-repeat
			padding-left: 25px
			line-height: 18px
			cursor: pointer

			&-text
				color: $text-grey
				font-size: 13px
				border-bottom: 0.13em dotted $text-grey
				display: inline-block

		&-time
			margin-top: 35px
			width: 255px

			&-btn
				padding: 0 24px
				border: 2px solid transparent
				background: #f1f1f1
				border-radius: 2px
				height: 50px
				color: $text-grey
				font-size: 14px
				outline: none
				cursor: pointer
				transition: all .3s ease
				line-height: 50px

				&--active
					color: #363738
					background: $white
					border: 2px solid #EB292B
					transition: all .3s ease

		&-submit
			margin-top: 35px

			&-btn
				width: 240px
				height: 50px
				background: linear-gradient(180deg, #EB2E2E 0%, #E30613 100%)
				border-radius: 2px
				border: none
				color: $white
				font-size: 16px
				font-weight: 600
				cursor: pointer
				outline: none

				&:hover
					background: darken($accent, 10%)

			&-bonus
				color: #363738
				font-size: 14px
				line-height: 23px
				font-weight: 400
				margin-left: 46px
				padding-left: 35px
				background: url('../img/header/coin.svg') left center no-repeat



/* why-we */
.why-we
	margin: 95px 0 60px 0

	&__title
		font-family: $default-font
		font-weight: 600
		line-height: 33px
		max-width: 580px
		font-size: 24px
		margin: 0
	
	&__items
		margin-top: 50px

	&__item
		margin-right: 89px
		flex: 1
		min-width: 150px

		&:last-child
			margin-right: 0
	
	&__img
		text-align: center

	&__desc
		font-size: 14px
		line-height: 23px
		font-family: $default-font
		font-weight: 400
		color: $text
		margin-top: 25px

	&__about
		max-width: 1020px

	&__about--left
		color: $text
		font-size: 14px
		line-height: 23px
		font-family: $default-font
		font-weight: 600
		max-width: 365px

	&__about--right
		color: #363738
		font-size: 13px
		line-height: 23px
		font-family: $default-font
		font-weight: 400
		max-width: 545px

/* animation-block */
.animation-block
	margin-top: 88px

	&__title
		color: $text
		font-family: $default-font
		font-size: 24px
		line-height: 33px
		font-weight: 600
		max-width: 505px

	&__bg
		text-align: center
		position: relative
		max-width: 1360px
		margin: auto
		top: -75px

	&__element
		position: absolute
	
	&__car-1
		bottom: 265px
		left: 180px

	&__car-2
		bottom: 270px
		left: 685px

	&__pin-1
		top: 230px
		left: 280px

	&__pin-2
		top: 180px
		right: 250px

/* actions */
.actions
	margin: 100px 0

	&__container
		max-width: 1110px

	&__item
		width: 350px

/* call-taxi */
.call-taxi
	padding: 75px 0
	background: #F6F8F7

	&__title
		font-family: $default-font
		font-weight: 600
		font-size: 24px
		line-height: 33px
		margin: 0

	&__items
		margin-top: 40px
		
	&__item
		margin-right: 40px
		flex: 1

		&:last-child
			margin-right: 0
	
	&__desc
		color: $text
		font-family: $default-font
		font-size: 14px
		line-height: 23px
		font-weight: 400
		margin-top: 25px

		& a 
			color: #EB2E2E
	&__app
		margin-top: 20px

		&--img
			max-width: 80px
			margin: 0 5px

			& img
				width: 100%

/* reviews */
.reviews
	margin: 100px 0

	&__title
		color: $text
		font-family: $default-font
		margin: 0
		font-size: 24px
		line-height: 33px
		font-weight: 600

	&__items
		margin-top: 45px

	&__item
		width: 350px
		margin: 0 30px 11px 0
		background: #F6F8F7
		padding: 29px 43px 45px 66px
		outline: none
		cursor: pointer
		position: relative

		&::after
			content: ''
			position: absolute
			bottom: -11px
			left: 75px
			width: 0
			height: 0
			border-top: 11px solid #F6F8F7
			border-right: 20px solid transparent
	
	&__text
		color: #363738
		font-size: 13px
		line-height: 23px
		font-family: $default-font
		font-weight: 400
		margin-bottom: 27px
		position: relative

		&::before
			content: ''
			position: absolute
			top: 11px
			left: -42px
			width: 15px
			height: 1px
			background: #363738

	&__name
		color: $text
		font-size: 14px
		line-height: 23px
		font-weight: 600

	&__date
		color: $text-grey
		font-size: 13px
		line-height: 18px
		font-weight: 300

	&__dots
		list-style: none
		padding: 0
		margin: 15px 0 0 0

		& li
			margin-right: 13px
			height: 0
			outline: none

			&:last-child
				margin-right: 0

			& button
				font-size: 0
				width: 12px
				height: 12px
				padding: 0
				border-radius: 50%
				border: 1px solid #EB2E2E
				background: transparent
				cursor: pointer
				outline: none

			&.slick-active button
				background: #EB2E2E

	&__add-btn
		display: block
		margin: 75px auto 0 auto
		background: linear-gradient(180deg, #EB2E2E 0%, #E30613 100%)
		border-radius: 2px
		width: 190px
		border: 1px solid #EB2E2E
		padding: 0
		height: 50px
		cursor: pointer
		color: $white
		font-size: 16px
		font-weight: 600

		&:hover
			background: $white
			color: #EB2E2E

		&:focus
			outline: none

/* patrners */
.patrners
	margin: 100px 0

	&__title
		font-family: $default-font
		color: $text
		font-size: 24px
		font-weight: 600
		margin: 0

	&__items
		margin-top: 50px

	&__item
		margin-right: 90px
		outline: none

	&__dots
		list-style: none
		padding: 0
		margin: 15px 0 0 0

		& li
			margin-right: 13px
			height: 0
			outline: none

			&:last-child
				margin-right: 0

			& button
				font-size: 0
				width: 12px
				height: 12px
				padding: 0
				border-radius: 50%
				border: 1px solid #EB2E2E
				background: transparent
				cursor: pointer
				outline: none

			&.slick-active button
				background: #EB2E2E

/* page-footer */
.page-footer
	background: #F6F8F7
	padding: 55px 0 45px 0

	&--wrapper
		flex: 1

	&__logo
		margin-bottom: 30px

	&__slogan
		font-family: $default-font
		color: $text-grey
		font-size: 14px

	&__police-link,
	&__dosc-link
		font-family: $default-font
		color: $text-grey
		font-size: 13px
		line-height: 23px
		display: block

		&:hover
			color: $text-grey
			text-decoration: underline

	&__call-text
		font-family: $default-font
		color: $text-grey
		font-size: 14px
		margin-right: 20px

		&--bold
			font-family: $default-font
			color: $text
			font-size: 20px
			font-weight: 600

	&__mobile
		margin-top: 47px

		&-text
			font-family: $default-font
			color: $text-grey
			font-size: 13px
			line-height: 23px

		&-number
			padding-left: 23px
			font-family: $default-font
			color: $text
			font-size: 15px
			font-weight: 700
			margin-right: 20px

			:last-child
				margin-right: 0

			&--megafon
				background: url('../img/footer/megafon.svg') left 50% no-repeat

			&--beeline
				background: url('../img/footer/beeline.svg') left 50% no-repeat

			&--tele2
				background: url('../img/footer/tele2.svg') left 50% no-repeat
				padding-left: 37px

			&--mts
				background: url('../img/footer/mts.svg') left 50% no-repeat

	&__app

		&:first-child
			margin-right: 5px

		& img 
			max-width: 100px

	&__tel
		margin-top: 50px

		&-text
			font-family: $default-font
			color: $text-grey
			font-size: 13px
			line-height: 23px

			&--bold
				color: $text
				font-weight: 600
				font-size: 15px

	&__social-btn
		margin-right: 16px

		&:last-child
			margin-right: 0

	&__sms
		margin-top: 53px

		&-text
			font-family: $default-font
			color: $text-grey
			font-size: 13px
			line-height: 23px

			&--bold
				color: $text
				font-size: 15px
				font-weight: 600



